@import 'config';

.article {
    width: 100%;
    max-width: 600px;

    cursor: pointer;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;

    &__image {
        
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: #666;
        margin-bottom: $gutter;
      }

    &__img {
        
        display: block;
        width: 100%;
        height: 100%;

      }

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        font-size: 2rem;
        margin-bottom: 0;
      }

      &__date {
        font-size: 1.5rem;
        margin-top: 0;
      }
}