@import 'config';

.articles {
    width: 100%;
    max-width: $max-width;

    margin: $gutter * 2 auto;

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__article {
        @include columns(12);

        display: flex;
        justify-content: center;
        min-height: 200px;    
    
        padding: $gutter * 2;
    
        @media (min-width: $max-width / 2) {
          @include columns(6);
          
        }
    
        @media (max-width: $max-width / 2) {
          @include columns(12);
          min-height: 450px;
        }
        
    }
}