* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.header {
  position: relative;
  display: flex;
  min-height: 50vh;
  margin-left: -15px;
  margin-right: -15px;
  background: transparent url(header.jpg) fixed no-repeat;
  background-size: cover; }
  .header__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    word-break: break-word;
    text-align: center; }
  .header__title {
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 3rem;
    color: white; }

.articles {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto; }
  .articles__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*
        margin-right: -($gutter / 2);
        margin-bottom: $gutter;
        margin-left: -($gutter / 2); 
        */ }
  .articles__article {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    min-height: 250px;
    padding: 30px; }
    @media (min-width: 600px) {
      .articles__article {
        width: 50%;
        padding-right: 30px;
        padding-left: 30px; } }
    @media (max-width: 600px) {
      .articles__article {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        min-height: 400px; } }

.article {
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column; }
  .article__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #666;
    margin-bottom: 15px; }
  .article__img {
    display: block;
    width: 100%;
    height: 100%; }
  .article__content {
    /*
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
        flex: 1;
        */ }
  .article__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-bottom: 10px;
    font-size: 1.5rem; }
  .article__date {
    font-size: 1.125rem; }
